name: build_7zz
on:
  push:
    branches:
      - '**'
    paths:
      - .github/workflows/build_7zz.yml
      - build/7zz/*
      - Dockerfile

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_arch: [linux/amd64,linux/arm64/v8,linux/arm/v7,linux/arm/v5,linux/riscv64]
        include:
          - build_name: x86_64
            build_arch: linux/amd64
          - build_name: aarch64
            build_arch: linux/arm64/v8
          - build_name: armhf
            build_arch: linux/arm/v7
          - build_name: armel
            build_arch: linux/arm/v5
          - build_name: riscv64
            build_arch: linux/riscv64
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build binary
        uses: docker/build-push-action@v5
        with:
          context: build/7zz/
          platforms: ${{ matrix.build_arch }}
          push: false
          tags: local_7zz:latest
          file: Dockerfile
          outputs: |
            type=local,dest=${{ github.workspace }}/output

      - name: List Dir
        run: ls -lRt ${{ github.workspace }}

      - name: Upload binary to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: 7zz-linux-${{ matrix.build_name }}
          path: ${{ github.workspace }}/output/build/install/bin/*

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v1.0  # 固定的tag名称
          name: v1.0      # release标题
          draft: false    # 直接发布，不存为草稿
          prerelease: false
          generate_release_notes: true  # 自动生成发布说明
          # 如果release已存在，会失败，需要设置下面的参数
          update: true  # 如果release已存在则更新
          body: |
            ## Release v1.0
          files: |
            ${{ github.workspace }}/output/build/install/bin/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

