name: build_docker
on:
  push:
    branches:
      - '**'
    paths:
      - .github/workflows/build_docker.yml
      - build/docker/*
      - build/common/*
      - Dockerfile

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_arch: [linux/amd64]
        include:
          - build_name: x86_64
            build_arch: linux/amd64
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build binary
        uses: docker/build-push-action@v5
        with:
          context: build/docker/
          platforms: ${{ matrix.build_arch }}
          push: false
          tags: local_docker:latest
          file: Dockerfile
          outputs: |
            type=local,dest=${{ github.workspace }}/output

      - name: List Dir
        run: ls -lRt ${{ github.workspace }}

      - name: Upload binary to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: docker-linux-${{ matrix.build_name }}
          path: ${{ github.workspace }}/output/build/install/*

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          tag: v1.0
          name: "Release v1.0"
          artifacts: "${{ github.workspace }}/output/build/install/*"
          artifactErrorsFailBuild: false
          allowUpdates: true  # 允许更新已存在的release
          token: ${{ secrets.GITHUB_TOKEN }}